.itemlist {
    display: block;
    position: absolute;    
    top: 4.5rem;    
    left: -4rem;
}

.itemlistgone {
    display: none;
}
div{
    position: relative;
}

div p{
    width: 10.5rem;
    text-align: center;
    background: chartreuse;
    font-size: 2rem;
}
div p:hover{
    background: forestgreen;
}

div ul li{
    width: 10.5rem;
    list-style-type: none;
    background: aqua;
    text-align: center;

}

div ul li:hover{
    background: steelblue;
}
div ul li a{
    font-size: 1.8rem;
}

a {
    text-decoration:none;
}